In [89]:
import numpy as np
import gzip
import pandas as pd



df_p1_census = pd.read_csv('co-est2021-alldata.csv', header=0, usecols=['STNAME','CTYNAME','POPESTIMATE2021','STATE','COUNTY'], nrows=3195, encoding='latin-1')
#print(df_p1_census)

df_p1_counties = pd.read_excel('county_reeds_corrected0310.xlsx', header=0, usecols=['NAME','STATE_NAME','FIPS','PCA_REG'])
#print(df_p1_counties)

df_reeds_nems_genDB = pd.read_csv('Reeds_SpatialFlex\ReEDS_generator_database_final_EIA-NEMS.csv', header=0, usecols=['tech','reeds_ba','cap','FIPS'])
df_reeds_nems_genDB

             tech reeds_ba    cap    FIPS
0           hydED      p89   53.0  1125.0
1           o-g-s      p90   80.0  1097.0
2           o-g-s      p90   80.0  1097.0
3      coalolduns      p90  249.0  1097.0
4      coalolduns      p90  362.0  1097.0
...           ...      ...    ...     ...
25958         pvb      p10   20.8  6029.0
25959         pvb      p10   75.0  6029.0
25960         pvb      p10   19.0  6029.0
25961         pvb      p10   68.1  6029.0
25962        dupv      p33    1.5  8001.0

[25963 rows x 4 columns]

In [90]:

df_hyd_adj_cap = pd.read_csv('Reeds_SpatialFlex\hyd_add_upg_cap.csv', header=0)
df_hyd_adj_cap

,r,i,rscbin,2015,2016,2017,2018,2019,2020,2021,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,p1,hydUD,bin4,0.0,0.0,0.00,0.0,0.000,0.00,0.0000,...,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800
1,p1,hydUD,bin5,0.0,0.0,0.00,0.0,0.000,0.00,0.0000,...,1.6800,1.6800,1.6800,1.6800,1.6800,1.6800,1.6800,1.6800,1.6800,1.6800
2,p1,hydUND,bin2,0.0,0.0,4.25,8.5,8.500,8.50,8.5000,...,8.5000,8.5000,8.5000,8.5000,8.5000,8.5000,8.5000,8.5000,8.5000,8.5000
3,p1,hydUND,bin3,0.0,0.0,0.00,0.0,0.000,0.00,0.0000,...,5.9200,5.9200,5.9200,5.9200,5.9200,5.9200,5.9200,5.9200,5.9200,5.9200
4,p1,hydUND,bin4,0.0,0.0,0.00,0.0,0.000,0.00,0.0000,...,3.6000,3.6000,3.6000,3.6000,3.6000,3.6000,3.6000,3.6000,3.6000,3.6000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,p134,hydUND,bin1,0.0,0.0,0.00,0.0,0.000,0.00,0.0000,...,2.8400,2.8400,2.8400,2.8400,2.8400,2.8400,2.8400,2.8400,2.8400,2.8400
210,p134,hydUND,bin2,0.0,0.0,0.00,0.0,0.000,0.00,0.0000,...,1.9400,1.9400,1.9400,1.9400,1.9400,1.9400,1.9400,1.9400,1.9400,1.9400
211,p134,hydUND,bin3,0.0,0.0,0.00,0.0,0.000,0.00,0.0000,...,2.8400,2.8400,2.8400,2.8400,2.8400,2.8400,2.8400,2.8400,2.8400,2.8400
212,p134,hydUND,bin4,0.0,0.0,0.00,0.0,0.000,0.00,0.0000,...,2.3500,2.3500,2.3500,2.3500,2.3500,2.3500,2.3500,2.3500,2.3500,2.3500
213,p134,hydUND,bin5,0.0,0.0,0.00,0.0,0.125,0.25,0.2725,...,1.3974,1.3974,1.3974,1.3974,1.3974,1.3974,1.3974,1.3974,1.3974,1.3974

In [91]:
df_hyd_adj_cap['i'] = df_hyd_adj_cap['i'].str.replace('hydUD','hydED')
df_hyd_adj_cap['i'] = df_hyd_adj_cap['i'].str.replace('hydUND','hydEND')
df_hyd_adj_cap

,r,i,rscbin,2015,2016,2017,2018,2019,2020,2021,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,p1,hydED,bin4,0.0,0.0,0.00,0.0,0.000,0.00,0.0000,...,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800
1,p1,hydED,bin5,0.0,0.0,0.00,0.0,0.000,0.00,0.0000,...,1.6800,1.6800,1.6800,1.6800,1.6800,1.6800,1.6800,1.6800,1.6800,1.6800
2,p1,hydEND,bin2,0.0,0.0,4.25,8.5,8.500,8.50,8.5000,...,8.5000,8.5000,8.5000,8.5000,8.5000,8.5000,8.5000,8.5000,8.5000,8.5000
3,p1,hydEND,bin3,0.0,0.0,0.00,0.0,0.000,0.00,0.0000,...,5.9200,5.9200,5.9200,5.9200,5.9200,5.9200,5.9200,5.9200,5.9200,5.9200
4,p1,hydEND,bin4,0.0,0.0,0.00,0.0,0.000,0.00,0.0000,...,3.6000,3.6000,3.6000,3.6000,3.6000,3.6000,3.6000,3.6000,3.6000,3.6000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,p134,hydEND,bin1,0.0,0.0,0.00,0.0,0.000,0.00,0.0000,...,2.8400,2.8400,2.8400,2.8400,2.8400,2.8400,2.8400,2.8400,2.8400,2.8400
210,p134,hydEND,bin2,0.0,0.0,0.00,0.0,0.000,0.00,0.0000,...,1.9400,1.9400,1.9400,1.9400,1.9400,1.9400,1.9400,1.9400,1.9400,1.9400
211,p134,hydEND,bin3,0.0,0.0,0.00,0.0,0.000,0.00,0.0000,...,2.8400,2.8400,2.8400,2.8400,2.8400,2.8400,2.8400,2.8400,2.8400,2.8400
212,p134,hydEND,bin4,0.0,0.0,0.00,0.0,0.000,0.00,0.0000,...,2.3500,2.3500,2.3500,2.3500,2.3500,2.3500,2.3500,2.3500,2.3500,2.3500
213,p134,hydEND,bin5,0.0,0.0,0.00,0.0,0.125,0.25,0.2725,...,1.3974,1.3974,1.3974,1.3974,1.3974,1.3974,1.3974,1.3974,1.3974,1.3974

In [92]:
df_reeds_nems_genDB['FIPS'] = df_reeds_nems_genDB['FIPS'].astype('int64')
#df_reeds_nems_genDB['FIPS'] = df_reeds_nems_genDB['FIPS'].str.replace('.0','')
df_reeds_nems_genDB

             tech reeds_ba    cap  FIPS
0           hydED      p89   53.0  1125
1           o-g-s      p90   80.0  1097
2           o-g-s      p90   80.0  1097
3      coalolduns      p90  249.0  1097
4      coalolduns      p90  362.0  1097
...           ...      ...    ...   ...
25958         pvb      p10   20.8  6029
25959         pvb      p10   75.0  6029
25960         pvb      p10   19.0  6029
25961         pvb      p10   68.1  6029
25962        dupv      p33    1.5  8001

[25963 rows x 4 columns]

In [93]:
#filtering by hydro tech data
grp_tech_nems = df_reeds_nems_genDB.loc[(df_reeds_nems_genDB['tech'] == 'hydED') | (df_reeds_nems_genDB['tech'] == 'hydEND')]
grp_tech_nems

         tech reeds_ba   cap   FIPS
0       hydED      p89  53.0   1125
16     hydEND      p90  74.7   1051
17     hydEND      p90  74.7   1051
18     hydEND      p90  74.7   1051
40      hydED      p90  23.7   1015
...       ...      ...   ...    ...
25199  hydEND      p34   3.8   8101
25200  hydEND      p34   3.3   8101
25337  hydEND      p43   4.3  27145
25338  hydEND      p43   4.3  27145
25706  hydEND      p15   2.3  16001

[4102 rows x 4 columns]

In [94]:

grp_tech_nems.dtypes

tech         object
reeds_ba     object
cap         float64
FIPS          int64
dtype: object

In [95]:
#grp_tech_nems['FIPS'] = grp_tech_nems['FIPS'].astype(float)

In [96]:
grp_tech_nems['FIPS']=grp_tech_nems['FIPS'].apply(lambda x: '{0:0>5}'.format(x))
grp_tech_nems

C:\Users\akarmaka\AppData\Local\Temp\1\ipykernel_18936\92584245.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grp_tech_nems['FIPS']=grp_tech_nems['FIPS'].apply(lambda x: '{0:0>5}'.format(x))

         tech reeds_ba   cap   FIPS
0       hydED      p89  53.0  01125
16     hydEND      p90  74.7  01051
17     hydEND      p90  74.7  01051
18     hydEND      p90  74.7  01051
40      hydED      p90  23.7  01015
...       ...      ...   ...    ...
25199  hydEND      p34   3.8  08101
25200  hydEND      p34   3.3  08101
25337  hydEND      p43   4.3  27145
25338  hydEND      p43   4.3  27145
25706  hydEND      p15   2.3  16001

[4102 rows x 4 columns]

In [97]:
df_groupedbyFIPS = grp_tech_nems.groupby(['tech','reeds_ba','FIPS'])['cap'].sum().reset_index()
df_groupedbyFIPS

       tech reeds_ba   FIPS    cap
0     hydED       p1  53007   62.1
1     hydED       p1  53033   12.9
2     hydED       p1  53057  105.2
3     hydED       p1  53061   96.0
4     hydED       p1  53073  105.0
..      ...      ...    ...    ...
659  hydEND      p99  51041    2.9
660  hydEND      p99  51083    1.6
661  hydEND      p99  51109    1.0
662  hydEND      p99  51590    4.5
663  hydEND      p99  51595    2.5

[664 rows x 4 columns]

In [98]:
df_groupedbyFIPS.rename(columns = {'cap':'cap_total_byFIPS'}, inplace = True)
df_groupedbyFIPS

       tech reeds_ba   FIPS  cap_total_byFIPS
0     hydED       p1  53007              62.1
1     hydED       p1  53033              12.9
2     hydED       p1  53057             105.2
3     hydED       p1  53061              96.0
4     hydED       p1  53073             105.0
..      ...      ...    ...               ...
659  hydEND      p99  51041               2.9
660  hydEND      p99  51083               1.6
661  hydEND      p99  51109               1.0
662  hydEND      p99  51590               4.5
663  hydEND      p99  51595               2.5

[664 rows x 4 columns]

In [99]:
df_groupedbyBA = df_groupedbyFIPS.groupby(['tech','reeds_ba'])['cap_total_byFIPS'].sum().reset_index()
df_groupedbyBA

       tech reeds_ba  cap_total_byFIPS
0     hydED       p1             381.2
1     hydED      p10              27.0
2     hydED     p101              43.5
3     hydED     p103               6.3
4     hydED     p118              38.6
..      ...      ...               ...
144  hydEND      p95             397.9
145  hydEND      p96             898.4
146  hydEND      p97             541.3
147  hydEND      p98              34.1
148  hydEND      p99              12.5

[149 rows x 3 columns]

In [100]:
df_groupedbyBA.rename(columns = {'cap_total_byFIPS':'cap_total_byBA'}, inplace = True)
df_groupedbyBA

       tech reeds_ba  cap_total_byBA
0     hydED       p1           381.2
1     hydED      p10            27.0
2     hydED     p101            43.5
3     hydED     p103             6.3
4     hydED     p118            38.6
..      ...      ...             ...
144  hydEND      p95           397.9
145  hydEND      p96           898.4
146  hydEND      p97           541.3
147  hydEND      p98            34.1
148  hydEND      p99            12.5

[149 rows x 3 columns]

In [101]:
df_grp_totals = pd.merge(df_groupedbyFIPS, df_groupedbyBA, on=('reeds_ba','tech'), how='inner')
df_grp_totals

       tech reeds_ba   FIPS  cap_total_byFIPS  cap_total_byBA
0     hydED       p1  53007              62.1           381.2
1     hydED       p1  53033              12.9           381.2
2     hydED       p1  53057             105.2           381.2
3     hydED       p1  53061              96.0           381.2
4     hydED       p1  53073             105.0           381.2
..      ...      ...    ...               ...             ...
659  hydEND      p99  51041               2.9            12.5
660  hydEND      p99  51083               1.6            12.5
661  hydEND      p99  51109               1.0            12.5
662  hydEND      p99  51590               4.5            12.5
663  hydEND      p99  51595               2.5            12.5

[664 rows x 5 columns]

In [104]:
df_grp_totals['proportion_ofFIPSinBA']=df_grp_totals['cap_total_byFIPS']/df_grp_totals['cap_total_byBA']
df_grp_totals

,tech,reeds_ba,FIPS,cap_total_byFIPS,cap_total_byBA,proportion_ofFIPSinBA
0,hydED,p1,53007,62.1,381.2,0.162907
1,hydED,p1,53033,12.9,381.2,0.033841
2,hydED,p1,53057,105.2,381.2,0.275971
3,hydED,p1,53061,96.0,381.2,0.251836
4,hydED,p1,53073,105.0,381.2,0.275446
...,...,...,...,...,...,...
659,hydEND,p99,51041,2.9,12.5,0.232000
660,hydEND,p99,51083,1.6,12.5,0.128000
661,hydEND,p99,51109,1.0,12.5,0.080000
662,hydEND,p99,51590,4.5,12.5,0.360000
663,hydEND,p99,51595,2.5,12.5,0.200000

In [115]:
df_hydro_nemsDb_merge = pd.merge(df_grp_totals, df_hyd_adj_cap, left_on=('reeds_ba','tech'), right_on=('r','i'), how='inner')
df_hydro_nemsDb_merge

,tech,reeds_ba,FIPS,cap_total_byFIPS,cap_total_byBA,proportion_ofFIPSinBA,r,i,rscbin,2015,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,hydED,p1,53007,62.1,381.2,0.162907,p1,hydED,bin4,0.0,...,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800
1,hydED,p1,53007,62.1,381.2,0.162907,p1,hydED,bin5,0.0,...,1.6800,1.6800,1.6800,1.6800,1.6800,1.6800,1.6800,1.6800,1.6800,1.6800
2,hydED,p1,53033,12.9,381.2,0.033841,p1,hydED,bin4,0.0,...,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800
3,hydED,p1,53033,12.9,381.2,0.033841,p1,hydED,bin5,0.0,...,1.6800,1.6800,1.6800,1.6800,1.6800,1.6800,1.6800,1.6800,1.6800,1.6800
4,hydED,p1,53057,105.2,381.2,0.275971,p1,hydED,bin4,0.0,...,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800,11.1800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423,hydEND,p99,51595,2.5,12.5,0.200000,p99,hydEND,bin1,0.0,...,0.4500,0.4500,0.4500,0.4500,0.4500,0.4500,0.4500,0.4500,0.4500,0.4500
1424,hydEND,p99,51595,2.5,12.5,0.200000,p99,hydEND,bin2,0.0,...,0.2900,0.2900,0.2900,0.2900,0.2900,0.2900,0.2900,0.2900,0.2900,0.2900
1425,hydEND,p99,51595,2.5,12.5,0.200000,p99,hydEND,bin3,0.0,...,0.2500,0.2500,0.2500,0.2500,0.2500,0.2500,0.2500,0.2500,0.2500,0.2500
1426,hydEND,p99,51595,2.5,12.5,0.200000,p99,hydEND,bin4,0.0,...,0.1740,0.1740,0.1740,0.1740,0.1740,0.1740,0.1740,0.1740,0.1740,0.1740
1427,hydEND,p99,51595,2.5,12.5,0.200000,p99,hydEND,bin5,0.0,...,0.0105,0.0105,0.0105,0.0105,0.0105,0.0105,0.0105,0.0105,0.0105,0.0105

In [114]:
# #df_hydro_nemsDb_merge
# # Write dataframe to csv file (UNCOMPRESSED)
# df_hydro_nemsDb_merge.to_csv('ReEDS2\CSV_County_hydro_CHECK.csv', sep=',', encoding='utf-8', index=False)

In [116]:
new_hydro_adj_cap = df_hydro_nemsDb_merge.iloc[:, 9:].multiply(df_hydro_nemsDb_merge['proportion_ofFIPSinBA'], axis="index")
new_hydro_adj_cap

,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.00,...,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.00,...,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.00,...,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.00,...,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.00,...,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.045,0.09,...,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000
1424,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.00,...,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000
1425,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.00,...,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000
1426,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.00,...,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800
1427,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.00,...,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100

In [117]:
df_newhydro = pd.merge(df_hydro_nemsDb_merge, new_hydro_adj_cap, left_index=True, right_index=True)
df_newhydro

,tech,reeds_ba,FIPS,cap_total_byFIPS,cap_total_byBA,proportion_ofFIPSinBA,r,i,rscbin,2015_x,...,2041_y,2042_y,2043_y,2044_y,2045_y,2046_y,2047_y,2048_y,2049_y,2050_y
0,hydED,p1,53007,62.1,381.2,0.162907,p1,hydED,bin4,0.0,...,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296
1,hydED,p1,53007,62.1,381.2,0.162907,p1,hydED,bin5,0.0,...,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683
2,hydED,p1,53033,12.9,381.2,0.033841,p1,hydED,bin4,0.0,...,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337
3,hydED,p1,53033,12.9,381.2,0.033841,p1,hydED,bin5,0.0,...,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852
4,hydED,p1,53057,105.2,381.2,0.275971,p1,hydED,bin4,0.0,...,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423,hydEND,p99,51595,2.5,12.5,0.200000,p99,hydEND,bin1,0.0,...,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000
1424,hydEND,p99,51595,2.5,12.5,0.200000,p99,hydEND,bin2,0.0,...,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000
1425,hydEND,p99,51595,2.5,12.5,0.200000,p99,hydEND,bin3,0.0,...,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000
1426,hydEND,p99,51595,2.5,12.5,0.200000,p99,hydEND,bin4,0.0,...,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800
1427,hydEND,p99,51595,2.5,12.5,0.200000,p99,hydEND,bin5,0.0,...,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100

In [118]:
# Dropping columns from df that are not required

df_newhydro.drop(['tech', 'reeds_ba','cap_total_byFIPS','cap_total_byBA', 'proportion_ofFIPSinBA', 'r'], axis=1, inplace=True)
df_newhydro

,FIPS,i,rscbin,2015_x,2016_x,2017_x,2018_x,2019_x,2020_x,2021_x,...,2041_y,2042_y,2043_y,2044_y,2045_y,2046_y,2047_y,2048_y,2049_y,2050_y
0,53007,hydED,bin4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296
1,53007,hydED,bin5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683
2,53033,hydED,bin4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337
3,53033,hydED,bin5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852
4,53057,hydED,bin4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423,51595,hydEND,bin1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000
1424,51595,hydEND,bin2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000
1425,51595,hydEND,bin3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000
1426,51595,hydEND,bin4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800
1427,51595,hydEND,bin5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100

In [119]:
#Renaming FIPS column as per initial file
df_newhydro.rename(columns = {'FIPS':'r'}, inplace = True)
#df_newload_joinedtoorig

#Reindexing or changing datatypes is for ensuring correct joins and operations
df_newhydro = df_newhydro.reindex(axis=1)
#df_newload_joinedtoorig

#Adding the "p" back in fips column
df_newhydro['r'] = 'p' + df_newhydro['r'].astype(str)
df_newhydro

,r,i,rscbin,2015_x,2016_x,2017_x,2018_x,2019_x,2020_x,2021_x,...,2041_y,2042_y,2043_y,2044_y,2045_y,2046_y,2047_y,2048_y,2049_y,2050_y
0,p53007,hydED,bin4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296
1,p53007,hydED,bin5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683
2,p53033,hydED,bin4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337
3,p53033,hydED,bin5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852
4,p53057,hydED,bin4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423,p51595,hydEND,bin1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000
1424,p51595,hydEND,bin2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000
1425,p51595,hydEND,bin3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000
1426,p51595,hydEND,bin4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800
1427,p51595,hydEND,bin5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100

In [120]:
#Droppping duplicate columns with older values of load
df_newhydro.drop(df_newhydro.iloc[:, 3:39], axis=1, inplace=True)

#Cleaning up column names after join caused X & Y additions in names
df_newhydro.columns = df_newhydro.columns.str.replace("_y", "")

#View dataframe and some samples of FIPS length
df_newhydro

,r,i,rscbin,2015,2016,2017,2018,2019,2020,2021,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,p53007,hydED,bin4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296
1,p53007,hydED,bin5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683
2,p53033,hydED,bin4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337
3,p53033,hydED,bin5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852
4,p53057,hydED,bin4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423,p51595,hydEND,bin1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000
1424,p51595,hydEND,bin2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000
1425,p51595,hydEND,bin3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000
1426,p51595,hydEND,bin4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800
1427,p51595,hydEND,bin5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100

In [121]:
df_newhydro['i'] = df_newhydro['i'].str.replace('hydED','hydUD')
df_newhydro['i'] = df_newhydro['i'].str.replace('hydEND','hydUND')
df_newhydro

,r,i,rscbin,2015,2016,2017,2018,2019,2020,2021,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,p53007,hydUD,bin4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296,1.821296
1,p53007,hydUD,bin5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683,0.273683
2,p53033,hydUD,bin4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337,0.378337
3,p53033,hydUD,bin5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852,0.056852
4,p53057,hydUD,bin4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352,3.085352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423,p51595,hydUND,bin1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000
1424,p51595,hydUND,bin2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000,0.058000
1425,p51595,hydUND,bin3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000,0.050000
1426,p51595,hydUND,bin4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800,0.034800
1427,p51595,hydUND,bin5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100,0.002100

In [122]:
# Write dataframe to csv file (UNCOMPRESSED)
df_newhydro.to_csv('ReEDS2\CSV_County_hyd_add_upg_cap.csv', sep=',', encoding='utf-8', index=False)