In [4]:
import numpy as np
import gzip
import pandas as pd



# df_p1_census = pd.read_csv('co-est2021-alldata.csv', header=0, usecols=['STNAME','CTYNAME','POPESTIMATE2021','STATE','COUNTY'], nrows=3195, encoding='latin-1')
# #print(df_p1_census)

# df_p1_counties = pd.read_excel('county_reeds_corrected0310.xlsx', header=0, usecols=['NAME','STATE_NAME','FIPS','PCA_REG'])
# #print(df_p1_counties)

df_hierarchy = pd.read_csv('D:\\akash\\reeds\\ReEDS-2.0\\inputs\\hierarchy_rts_nodal_v2.csv', header=0)#,'FIPS'
df_hierarchy

df_cendiv_weights = pd.read_csv('D:\\akash\\reeds\\ReEDS-2.0\\inputs\\fuelprices\\cendivweights.csv', header=0)#,'FIPS'
df_cendiv_weights

        r  ENC  ESC   MA       MTN   NE        PA   SA  WNC  WSC  MEX
0      p1  0.0  0.0  0.0  0.078364  0.0  0.921636  0.0  0.0  0.0  0.0
1      p2  0.0  0.0  0.0  0.101362  0.0  0.898638  0.0  0.0  0.0  0.0
2      p3  0.0  0.0  0.0  0.273462  0.0  0.726538  0.0  0.0  0.0  0.0
3      p4  0.0  0.0  0.0  0.122057  0.0  0.877943  0.0  0.0  0.0  0.0
4      p5  0.0  0.0  0.0  0.134107  0.0  0.865893  0.0  0.0  0.0  0.0
..    ...  ...  ...  ...       ...  ...       ...  ...  ...  ...  ...
200  p201  0.0  0.0  0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  1.1
201  p202  0.0  0.0  0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  1.1
202  p203  0.0  0.0  0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  1.1
203  p204  0.0  0.0  0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  1.1
204  p205  0.0  0.0  0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  1.1

[205 rows x 11 columns]

In [5]:
df_cendiv_new = pd.merge(df_hierarchy,df_cendiv_weights, left_on='ba', right_on='r', how='inner')
df_cendiv_new

# df_hierarchy.rename(columns = {'*r':'cap_total_byBA'}, inplace = True)
# df_hierarchy

,*nodal,county,ba,nercr,transreg,transgrp,cendiv,st,interconnect,st_interconnect,...,ENC,ESC,MA,MTN,NE,PA,SA,WNC,WSC,MEX
0,b207,p04005,p28,WECC_SRSG,WestConnect,WestConnect_South,MTN,AZ,western,AZ,...,0.0,0.0,0.0,0.781580,0.0,0.218420,0.0,0.0,0.0,0.0
1,b208,p04005,p28,WECC_SRSG,WestConnect,WestConnect_South,MTN,AZ,western,AZ,...,0.0,0.0,0.0,0.781580,0.0,0.218420,0.0,0.0,0.0,0.0
2,b101,p04012,p28,WECC_SRSG,WestConnect,WestConnect_South,MTN,AZ,western,AZ,...,0.0,0.0,0.0,0.781580,0.0,0.218420,0.0,0.0,0.0,0.0
3,b104,p04012,p28,WECC_SRSG,WestConnect,WestConnect_South,MTN,AZ,western,AZ,...,0.0,0.0,0.0,0.781580,0.0,0.218420,0.0,0.0,0.0,0.0
4,b105,p04012,p28,WECC_SRSG,WestConnect,WestConnect_South,MTN,AZ,western,AZ,...,0.0,0.0,0.0,0.781580,0.0,0.218420,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,b215,p32003,p13,WECC_NWPP,NorthernGrid,NorthernGrid_South,MTN,NV,western,NV,...,0.0,0.0,0.0,0.436257,0.0,0.563743,0.0,0.0,0.0,0.0
69,b216,p32003,p13,WECC_NWPP,NorthernGrid,NorthernGrid_South,MTN,NV,western,NV,...,0.0,0.0,0.0,0.436257,0.0,0.563743,0.0,0.0,0.0,0.0
70,b219,p32003,p13,WECC_NWPP,NorthernGrid,NorthernGrid_South,MTN,NV,western,NV,...,0.0,0.0,0.0,0.436257,0.0,0.563743,0.0,0.0,0.0,0.0
71,b222,p32003,p13,WECC_NWPP,NorthernGrid,NorthernGrid_South,MTN,NV,western,NV,...,0.0,0.0,0.0,0.436257,0.0,0.563743,0.0,0.0,0.0,0.0
72,b223,p32003,p13,WECC_NWPP,NorthernGrid,NorthernGrid_South,MTN,NV,western,NV,...,0.0,0.0,0.0,0.436257,0.0,0.563743,0.0,0.0,0.0,0.0

In [6]:
df_cendiv_new.drop(['county', 'ba','nercr','transreg', 'transgrp', 'cendiv', 'st','interconnect', 'st_interconnect','country', 'usda_region', 'aggreg', 'county_name', 'r'
], axis=1, inplace=True)
df_cendiv_new

   *nodal  ENC  ESC   MA       MTN   NE        PA   SA  WNC  WSC  MEX
0    b207  0.0  0.0  0.0  0.781580  0.0  0.218420  0.0  0.0  0.0  0.0
1    b208  0.0  0.0  0.0  0.781580  0.0  0.218420  0.0  0.0  0.0  0.0
2    b101  0.0  0.0  0.0  0.781580  0.0  0.218420  0.0  0.0  0.0  0.0
3    b104  0.0  0.0  0.0  0.781580  0.0  0.218420  0.0  0.0  0.0  0.0
4    b105  0.0  0.0  0.0  0.781580  0.0  0.218420  0.0  0.0  0.0  0.0
..    ...  ...  ...  ...       ...  ...       ...  ...  ...  ...  ...
68   b215  0.0  0.0  0.0  0.436257  0.0  0.563743  0.0  0.0  0.0  0.0
69   b216  0.0  0.0  0.0  0.436257  0.0  0.563743  0.0  0.0  0.0  0.0
70   b219  0.0  0.0  0.0  0.436257  0.0  0.563743  0.0  0.0  0.0  0.0
71   b222  0.0  0.0  0.0  0.436257  0.0  0.563743  0.0  0.0  0.0  0.0
72   b223  0.0  0.0  0.0  0.436257  0.0  0.563743  0.0  0.0  0.0  0.0

[73 rows x 11 columns]

In [7]:
df_cendiv_new.rename(columns = {'*nodal':'r'}, inplace = True)
df_cendiv_new

       r  ENC  ESC   MA       MTN   NE        PA   SA  WNC  WSC  MEX
0   b207  0.0  0.0  0.0  0.781580  0.0  0.218420  0.0  0.0  0.0  0.0
1   b208  0.0  0.0  0.0  0.781580  0.0  0.218420  0.0  0.0  0.0  0.0
2   b101  0.0  0.0  0.0  0.781580  0.0  0.218420  0.0  0.0  0.0  0.0
3   b104  0.0  0.0  0.0  0.781580  0.0  0.218420  0.0  0.0  0.0  0.0
4   b105  0.0  0.0  0.0  0.781580  0.0  0.218420  0.0  0.0  0.0  0.0
..   ...  ...  ...  ...       ...  ...       ...  ...  ...  ...  ...
68  b215  0.0  0.0  0.0  0.436257  0.0  0.563743  0.0  0.0  0.0  0.0
69  b216  0.0  0.0  0.0  0.436257  0.0  0.563743  0.0  0.0  0.0  0.0
70  b219  0.0  0.0  0.0  0.436257  0.0  0.563743  0.0  0.0  0.0  0.0
71  b222  0.0  0.0  0.0  0.436257  0.0  0.563743  0.0  0.0  0.0  0.0
72  b223  0.0  0.0  0.0  0.436257  0.0  0.563743  0.0  0.0  0.0  0.0

[73 rows x 11 columns]

In [8]:
# Write dataframe to csv file (UNCOMPRESSED)
df_cendiv_new.to_csv('D:\\akash\\reeds\\ReEDS-2.0\\inputs\\fuelprices\\cendivweights.csv', sep=',', encoding='utf-8', index=False)

In [10]:
df_h2_storage_ba = pd.read_csv('D:\\akash\\reeds\\ReEDS-2.0\\inputs\\consume\\h2_storage_rb.csv', header=0)#,'FIPS'
df_h2_storage_ba

                  *h2_st    rb
0    h2_storage_hardrock    p1
1    h2_storage_hardrock    p2
2    h2_storage_hardrock    p3
3    h2_storage_hardrock    p4
4    h2_storage_hardrock    p5
..                   ...   ...
129  h2_storage_hardrock  p130
130  h2_storage_hardrock  p131
131  h2_storage_hardrock  p132
132  h2_storage_hardrock  p133
133  h2_storage_hardrock  p134

[134 rows x 2 columns]

In [11]:
df_h2_storage_nodal = pd.merge(df_h2_storage_ba, df_hierarchy, left_on='rb', right_on='ba', how='inner')
df_h2_storage_nodal

,*h2_st,rb,*nodal,county,ba,nercr,transreg,transgrp,cendiv,st,interconnect,st_interconnect,country,usda_region,aggreg,county_name
0,h2_storage_saltcavern,p10,b301,p06029,p10,WECC_CA,CAISO,CAISO,PA,CA,western,CA,USA,pacific,CA_S_CAISO,kern
1,h2_storage_saltcavern,p10,b302,p06029,p10,WECC_CA,CAISO,CAISO,PA,CA,western,CA,USA,pacific,CA_S_CAISO,kern
2,h2_storage_saltcavern,p10,b303,p06029,p10,WECC_CA,CAISO,CAISO,PA,CA,western,CA,USA,pacific,CA_S_CAISO,kern
3,h2_storage_saltcavern,p10,b305,p06029,p10,WECC_CA,CAISO,CAISO,PA,CA,western,CA,USA,pacific,CA_S_CAISO,kern
4,h2_storage_saltcavern,p10,b306,p06029,p10,WECC_CA,CAISO,CAISO,PA,CA,western,CA,USA,pacific,CA_S_CAISO,kern
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,h2_storage_saltcavern,p28,b109,p04012,p28,WECC_SRSG,WestConnect,WestConnect_South,MTN,AZ,western,AZ,USA,mountain,AZ,la paz
69,h2_storage_saltcavern,p28,b110,p04012,p28,WECC_SRSG,WestConnect,WestConnect_South,MTN,AZ,western,AZ,USA,mountain,AZ,la paz
70,h2_storage_saltcavern,p28,b111,p04012,p28,WECC_SRSG,WestConnect,WestConnect_South,MTN,AZ,western,AZ,USA,mountain,AZ,la paz
71,h2_storage_saltcavern,p28,b112,p04012,p28,WECC_SRSG,WestConnect,WestConnect_South,MTN,AZ,western,AZ,USA,mountain,AZ,la paz
72,h2_storage_saltcavern,p28,b102,p04027,p28,WECC_SRSG,WestConnect,WestConnect_South,MTN,AZ,western,AZ,USA,mountain,AZ,yuma

In [12]:
df_h2_storage_nodal.drop(['rb', 'county', 'ba','nercr','transreg', 'transgrp', 'cendiv', 'st','interconnect', 'st_interconnect','country', 'usda_region', 'aggreg', 'county_name'
], axis=1, inplace=True)
df_h2_storage_nodal

                   *h2_st *nodal
0   h2_storage_saltcavern   b301
1   h2_storage_saltcavern   b302
2   h2_storage_saltcavern   b303
3   h2_storage_saltcavern   b305
4   h2_storage_saltcavern   b306
..                    ...    ...
68  h2_storage_saltcavern   b109
69  h2_storage_saltcavern   b110
70  h2_storage_saltcavern   b111
71  h2_storage_saltcavern   b112
72  h2_storage_saltcavern   b102

[73 rows x 2 columns]

In [13]:
df_h2_storage_nodal.rename(columns = {'*nodal':'rb'}, inplace = True)
df_h2_storage_nodal

                   *h2_st    rb
0   h2_storage_saltcavern  b301
1   h2_storage_saltcavern  b302
2   h2_storage_saltcavern  b303
3   h2_storage_saltcavern  b305
4   h2_storage_saltcavern  b306
..                    ...   ...
68  h2_storage_saltcavern  b109
69  h2_storage_saltcavern  b110
70  h2_storage_saltcavern  b111
71  h2_storage_saltcavern  b112
72  h2_storage_saltcavern  b102

[73 rows x 2 columns]

In [14]:
# Write dataframe to csv file (UNCOMPRESSED)
df_h2_storage_nodal.to_csv('D:\\akash\\reeds\\ReEDS-2.0\\inputs\\consume\\h2_storage_rb.csv', sep=',', encoding='utf-8', index=False)

In [15]:
df_r_cs = pd.read_csv('D:\\akash\\reeds\\ReEDS-2.0\\inputs\\ctus\\r_cs.csv', header=0)#,'FIPS'
df_r_cs

       *r                cs
0     p10           Moreno2
1     p10         Panoche1a
2     p10         Panoche1b
3     p10      Repetto_Sst1
4     p10     Repetto_Sst2a
...   ...               ...
1469  p97         Oriskany6
1470  p97         Oriskany7
1471  p97  Rome_Trough_Sst1
1472  p97         Rose_Run1
1473  p98         Oriskany6

[1474 rows x 2 columns]

In [17]:
df_r_cs_nodal = pd.merge(df_hierarchy, df_r_cs, left_on='ba', right_on='*r', how='inner')
df_r_cs_nodal

,*nodal,county,ba,nercr,transreg,transgrp,cendiv,st,interconnect,st_interconnect,country,usda_region,aggreg,county_name,*r,cs
0,b107,p04015,p27,WECC_SRSG,WestConnect,WestConnect_South,MTN,AZ,western,AZ,USA,mountain,AZ,mohave,p27,Repetto_Sst1
1,b107,p04015,p27,WECC_SRSG,WestConnect,WestConnect_South,MTN,AZ,western,AZ,USA,mountain,AZ,mohave,p27,Repetto_Sst2a
2,b107,p04015,p27,WECC_SRSG,WestConnect,WestConnect_South,MTN,AZ,western,AZ,USA,mountain,AZ,mohave,p27,Repetto_Sst2b
3,b107,p04015,p27,WECC_SRSG,WestConnect,WestConnect_South,MTN,AZ,western,AZ,USA,mountain,AZ,mohave,p27,Repetto_Sst2c
4,b107,p04015,p27,WECC_SRSG,WestConnect,WestConnect_South,MTN,AZ,western,AZ,USA,mountain,AZ,mohave,p27,Repetto_Sst3a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951,b223,p32003,p13,WECC_NWPP,NorthernGrid,NorthernGrid_South,MTN,NV,western,NV,USA,mountain,NV,clark,p13,Temblor2a
952,b223,p32003,p13,WECC_NWPP,NorthernGrid,NorthernGrid_South,MTN,NV,western,NV,USA,mountain,NV,clark,p13,Temblor2b
953,b223,p32003,p13,WECC_NWPP,NorthernGrid,NorthernGrid_South,MTN,NV,western,NV,USA,mountain,NV,clark,p13,Temblor3a
954,b223,p32003,p13,WECC_NWPP,NorthernGrid,NorthernGrid_South,MTN,NV,western,NV,USA,mountain,NV,clark,p13,Temblor3b
955,b223,p32003,p13,WECC_NWPP,NorthernGrid,NorthernGrid_South,MTN,NV,western,NV,USA,mountain,NV,clark,p13,Temblor3c

In [18]:
df_r_cs_nodal.drop(['county', 'ba','nercr','transreg', 'transgrp', 'cendiv', 'st','interconnect', 'st_interconnect','country', 'usda_region', 'aggreg', 'county_name'
, '*r'], axis=1, inplace=True)
df_r_cs_nodal

    *nodal             cs
0     b107   Repetto_Sst1
1     b107  Repetto_Sst2a
2     b107  Repetto_Sst2b
3     b107  Repetto_Sst2c
4     b107  Repetto_Sst3a
..     ...            ...
951   b223      Temblor2a
952   b223      Temblor2b
953   b223      Temblor3a
954   b223      Temblor3b
955   b223      Temblor3c

[956 rows x 2 columns]

In [19]:
df_r_cs_nodal.rename(columns = {'*nodal':'*r'}, inplace = True)
df_r_cs_nodal

       *r             cs
0    b107   Repetto_Sst1
1    b107  Repetto_Sst2a
2    b107  Repetto_Sst2b
3    b107  Repetto_Sst2c
4    b107  Repetto_Sst3a
..    ...            ...
951  b223      Temblor2a
952  b223      Temblor2b
953  b223      Temblor3a
954  b223      Temblor3b
955  b223      Temblor3c

[956 rows x 2 columns]

In [20]:
# Write dataframe to csv file (UNCOMPRESSED)
df_r_cs_nodal.to_csv('D:\\akash\\reeds\\ReEDS-2.0\\inputs\\ctus\\r_cs.csv', sep=',', encoding='utf-8', index=False)